@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/placeholders.scss';
@import '../../../styles/abstract/mixins.scss';

.form {
  width: 100%;
}

.form__submit {
  width: 100%;
  min-height: 4.5rem;
  color: $color-light-xl;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: normal;
  background-color: $color-blue;
  border-radius: 3px;
  border: none;
  outline: none;
  cursor: pointer;
  @include button;

  &_disabled {
    color: $color-light-l;
    @include disabled;
    background-color: transparent;
    border: 1px solid $color-light-l;
    opacity: 0.8;
  }

  &_login {
    margin-top: 15.9rem;
  }

  &_register {
    margin-top: 7.1rem;
  }

  @include media-mobile {
    font-size: 1.2rem;

    &_login {
      margin-top: 24.7rem;
    }

    &_register {
      margin-top: 15.9rem;
    }
  }
}
