$color-light-xl: #fff;
$color-light-l: #dadada;
$color-light-m: #8b8b8b;
$color-light-s: #424242;
$color-grey: #2f2f2f;
$color-dark-xs: #313131;
$color-dark-s: #303030;
$color-dark-m: #272727;
$color-dark-l: #202020;
$color-dark-xl: #000;
$color-green: #3ddc84;

$content-width: 114rem;
$medium-width: 1024px;
$small-width: 768px;
$mobile-width: 550px;
