@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/mixins.scss';
@import '../../../styles/abstract/placeholders.scss';

.about-project {
  padding-top: 11rem;

  @include media-small {
    padding-top: 9rem;
  }

  @include media-mobile {
    padding-top: 7.2rem;
  }
}

.about-project__title {
  @include section-title;
}

.about-project__container {
  padding-top: 7rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  @include media-mobile {
    padding-top: 6.2rem;
    flex-direction: column;
    gap: 5.5rem;
  }
}

.about-project__column {
  width: 55rem;
  display: flex;
  flex-direction: column;
  gap: 2.6rem;

  @include media-medium {
    width: 43rem;
    gap: 2.4rem;
  }

  @include media-small {
    width: 32rem;
    gap: 2.2rem;
  }

  @include media-mobile {
    width: 100%;
    gap: 1.8rem;
  }
}

.about-project__subtitle {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;

  @include media-mobile {
    font-size: 1.8rem;
    letter-spacing: -0.72px;
  }
}

.about-project__description {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.42;

  @include media-small {
    font-size: 1.2rem;
    line-height: 1.5;
  }

  @include media-mobile {
    font-size: 1.1rem;
    line-height: 1.45;
  }
}

.about-project__timing {
  padding: 11rem 0;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 3.6rem 3.1rem;
  align-items: end;

  @include media-small {
    padding: 9.4rem 0 9rem;
    grid-template-columns: 21% 79%;
  }

  @include media-mobile {
    padding: 5.9rem 0 6.9rem;
    grid-template-columns: 35.2% 64.8%;
    grid-template-rows: 3.5rem 2.4rem;
  }
}

.about-project__timing-back {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include timing-text($color-dark-xl);
  background-color: $color-green;
}

.about-project__timing-front {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  @include timing-text($color-light-xl);
  background-color: $color-dark-s;
}
.about-project__signature {
  @include timing-text($color-light-m);
}
