@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/placeholders.scss';
@import '../../../styles/abstract/mixins.scss';

.filter {
  margin: auto;
  padding: 1.8rem 0 3.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;

  @include media-small {
    padding: 3rem 0 3.9rem;
  }

  @include media-mobile {
    padding: 3.6rem 0 3.9rem;
  }
}

.filter__input {
  position: absolute;
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
  pointer-events: none;
}

.filter__input-new {
  width: 3.6rem;
  min-height: 2rem;
  background-image: url(../../../images/icon/checkbox-off.svg);
  background-size: cover;
  transition: background-image 0.3s ease-in-out;

  &:after {
    content: '';
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}

.filter__input:checked + .filter__input-new {
  background-image: url(../../../images/icon/checkbox-on.svg);

  &:after {
    opacity: 1;
  }
}

.filter__title {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.5;

  @include media-mobile {
    font-size: 1.1rem;
    line-height: 1.63;
  }
}
