@import '../../styles/abstract/constants.scss';
@import '../../styles/abstract/mixins.scss';
@import '../../styles/abstract/placeholders.scss';

.header {
  padding: 1.8rem 0;
  width: 100%;
  position: relative;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__menu {
  margin-left: auto;
  width: 59.1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @extend %transition-all;

  @include media-small {
    width: 52rem;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 10;
    background-color: $color-dark-l;
  }

  @include media-mobile {
    width: 100%;
  }
  &_open {
    right: 0;
  }
}

.header__info {
  width: 18.3rem;
  display: flex;
  justify-content: space-between;

  @include media-mobile {
    width: 13.2rem;
  }
}

.header__link {
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  @include button-text-s;
  @include link($color-light-xl);
  border-radius: 0.3rem;

  &_button {
    width: 7.6rem;
    @include link($color-dark-xl);
    background-color: $color-green;

    @include media-mobile {
      width: 5.4rem;
    }
  }

  @include media-mobile {
    height: 2.6rem;
  }
}
