@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/placeholders.scss';
@import '../../../styles/abstract/mixins.scss';

.profile {
  padding-top: 7.4rem;
  margin: auto;
  max-width: 41rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-small {
    padding-top: 23.5rem;
  }

  @include media-mobile {
    padding-top: 7rem;
    max-width: 26rem;
  }
}

.profile__title {
  @include user-title;
  padding-bottom: 10.7rem;

  @include media-small {
    padding-bottom: 8rem;
  }

  @include media-mobile {
    padding-bottom: 6.3rem;
  }
}

.profile__container {
  width: 100%;
}

.profile__info-list {
  @include list;
  width: 100%;
}

.profile__info-item {
  display: flex;
  padding: 1.6rem 0;
  justify-content: space-between;

  &_underline {
    border-bottom: 1px $color-light-s solid;
  }
}

.profile__subtitle {
  @include profile-text(500);
}

.profile__name,
.profile__mail {
  @include profile-text(400);
}

.profile__nav {
  padding-top: 20.4rem;

  @include media-small {
    padding-top: 19.4rem;
  }

  @include media-mobile {
    padding-top: 36.4rem;
  }
}

.profile__nav-list {
  @include list;
  padding-bottom: 7.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.profile__button {
  @include link($color-light-xl);
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  cursor: pointer;

  @include media-mobile {
    font-size: 1.2rem;
  }
}

.profile__link {
  @include link($color-red);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: normal;

  @include media-mobile {
    font-size: 1.2rem;
  }
}
