@import '../../../styles/abstract/constants.scss';
@import '../../../styles/abstract/placeholders.scss';
@import '../../../styles/abstract/mixins.scss';

.movies {
  padding: 7rem 0 8rem;

  @include media-mobile {
    padding: 4rem 0 8rem;
  }
}

.movies__message {
  margin: 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;

  @include media-mobile {
    font-size: 1.8rem;
    letter-spacing: -0.72px;
  }
}

.movies__list {
  @include list;
  display: grid;
  grid-template-columns: repeat(auto-fit, 36rem);
  gap: 5.7rem 3rem;
  justify-content: center;

  @include media-small {
    grid-template-columns: repeat(auto-fit, 33.9rem);
    gap: 4.5rem 3rem;

    > :nth-child(n + 9) {
      display: none;
    }
  }

  @include media-mobile {
    grid-template-columns: repeat(auto-fit, 30rem);
    gap: 3.7rem;

    > :nth-child(n + 6) {
      display: none;
    }
  }
}

.movies__more {
  padding: 0;
  margin: 7.7rem auto 0;
  width: 32rem;
  min-height: 3.6rem;
  display: block;
  border-radius: 6px;
  border: 1px solid $color-light-s;
  background-color: transparent;
  color: $color-light-xl;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: normal;
  cursor: pointer;
  @include button;

  @include media-small {
    margin: 5.9rem auto 0;
  }

  @include media-mobile {
    width: 24rem;
  }
}
